<h1 class='header'>Update your blog</h1>

<!-- Form to update blog title and content -->
<%= form_for current_blog do |f| %>
<div class='edit-blog-title'><%= f.text_field :title, placeholder: "Blog title", :class => "edit-blog-title-field" %></div>
	<br>
	<div class='content-container'>
	<div class='edit-blog-content'><%= f.cktext_area :content,  :class => "edit-blog-content-field" %></div>

	<%= f.submit :class =>'post-btn' %>
	<% end %>
	</div>

