.header {
	margin: 10px auto;
	// border: 1px solid;
	text-align: center;
	width: 50%;
	font-size: 3.5em;
	color: rgba(35,54,86,0.5);
	font-family: 'Hind Guntur', sans-serif;
}

.content-container {
	// border: 1px solid;
	width: 85%;
	margin: 0 auto;
}

.post-btn {
	border: 1px solid white;
	border-radius: 5px;
	width: 20%;
	text-align: center;
	margin: 40px;
	margin-right: 75px;
	float: right;
	font-size: 1.8em;
	text-decoration: none;
	color:white;
	background-color: rgba(35,54,86,0.5);
	font-family: 'Hind Guntur', sans-serif;
}

// .new-blog-content-title {
// 	// border: 2px solid;
// 	width: 85%;
// 	margin: 5px auto;
// 	font-size: 2em;
// }

.edit-blog-content {
	width: 90%;
	margin: 5px auto;
	border-radius: 5px;
}

.edit-blog-title {
	margin: 15px auto;
	border-radius: 10px;
	height: 55px;
	width: 77%;
	font-size: 2em;
	font-family: 'Hind Guntur', sans-serif;
}

.edit-blog-title-field {
	height: 55px;
	width: 50%;
	font-size: 0.75em;
	border-radius: 5px;
	box-shadow: 4px 4px 4px rgba(253,106,2,0.8);
	font-family: 'Hind Guntur', sans-serif;
}

.edit-blog-content-field {
	height: 555px;
	font-size: 0.75em;
	border-radius: 5px;
	box-shadow: 4px 4px 4px rgba(253,106,2,0.8);
}




